/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Header*/

body {
  line-height: 1.7;
}
.header {
  padding: 100px;
  background-color: #5385c1;
}
.container {
  background-color: #5385c1;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
h1 {
  color: white;
  float: left;
  font-size: 18px;
  font-weight: bold;
}
.nav {
  font-size: 14px;
}
.nav a {
  padding-left: 30px;
  float: right;
  color: lightgray;
  text-decoration: none;
}

h2 {
  padding-bottom: 20px;
  color: white;
  padding-top: 40px;
  text-align: center;
  font-size: 54px;
}
p {
  color: lightgray;
  text-align: center;
}

/*article*/

.container-1 {
  background-color: white;
}

.article-text {
  text-align: justify;
  padding: 30px 0;
}
h3 {
  color: #5385c1;
  font-size: 24px;
}
.col {
  padding: 50px;
  width: 24%;
  float: left;
}
.btn {
  text-decoration: none;
  color: white;
  border: 10px solid #5385c1;
  background-color: #5385c1;
  text-transform: capitalize;
}

/*gallery*/
.container-2 {
  padding-left: 120px;
  background-color: #5385c1;
}
h4 {
  text-align: center;
  font-size: 34px;
  color: white;
}
.box {
  margin: 30px;
  float: left;
  width: 150px;
  height: 175px;
  border: 1px solid lightgray;
}
.text {
  color: white;
  text-align: center;
}
.article-img {
  padding-left: 20px;
  padding-top: 20px;
  vertical-align: middle;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
/*container*/

.container-3 {
  width: 100%;
  padding: 20px 0;
}

.column {
  float: left;
}
.new-img,
.para {
  text-align: justify;
  padding: 20px;
  width: 499px;
}
h5 {
  color: blue;
  font-size: 24px;
  text-align: center;
}
h6 {
  padding-left: 20px;
  font-size: 18px;
  color: blue;
}
.btn {
  margin-left: 20px;
}
/*footer*/

footer {
  padding: 30px;
}
.social-icon {
  word-spacing: 10px;
  font-size: 14px;
  float: right;
}

.copy {
  font-size: 10px;
  color: lightgray;
}
.outline {
  margin-top: 400px;
  outline: 1px dashed lightgray;
}
